@model List<Chapeau_Project_1._4.Models.RestaurantTable>

@{
    ViewData["Title"] = "Select Table";
}

<h4>Select a table</h4>


<div class="text-center">
	<h1 class="display-4">La tables</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Table #</th>
                <th>Guests</th>
                <th>Occupied</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model)
            {
                <tr>
                    <td>@table.TableNumber</td>
                    <td>@table.AmountOfGuests</td>
                    <td>@(table.IsOccupied ? "Occupied" : "Free")</td>
                    <td><a href="/OrderOverview/DisplayOrder?table=@table.TableNumber">Go to order</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>