@model List<Chapeau_Project_1._4.Models.OrderItem>

@{
    ViewData["Title"] = "Take Order";
    ECardOptions cardFilter = (ECardOptions)ViewData["CardFilter"];
    ECategoryOptions categoryFilter = (ECategoryOptions)ViewData["CategoryFilter"];
}


@await Component.InvokeAsync("Menu", new { cardFilter = cardFilter, categoryFilter = categoryFilter })


<h2>Order List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Note</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MenuItem.MenuItemName</td>
                <td>@item.Quantity</td>
                <td>@item.Note</td>
            </tr>
        }
    </tbody>
</table>



