@model List<Chapeau_Project_1._4.Models.MenuItem>

@{
	ViewData["Title"] = "Menu";
}

<div class="text-center">
	<h1 class="display-4">Le Menu</h1>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (var menuItem in Model)
			{
				var rowStyle = "";
				<tr>
					<td>@menuItem.MenuItemName</td>
					<td>@menuItem.Price</td>
					<!-- <td>
						<a asp-controller="Users" asp-action="Edit" asp-route-id="@menuItem.MenuItemId" class="btn-custom">Edit</a>
						<a asp-controller="Users" asp-action="Delete" asp-route-id="@menuItem.MenuItemId" class="btn-custom">Delete</a>

					</td>-->
				</tr>
			}
		}
	</tbody>

</table>

<!--<a href="/Users/Create" class="btn-custom">Create User</a>-->