@{
    ViewData["Title"] = "Drinks";
}

<h2 class="page-title">Orders</h2>

<div class="view-tabs">
    <button class="tab active" id="tab-running">
        <i class="fa fa-list"></i> Running Orders
    </button>
    <button class="tab" id="tab-finished"
            onclick="location.href='@Url.Action("FinishedOrders","Bar")'">
        <i class="fa fa-clock-o"></i> Finished Today
    </button>
    <button class="btn-refresh" onclick="location.reload()">
        <i class="fa fa-refresh"></i> Refresh
    </button>
</div>


@await Component.InvokeAsync("Drink")


