@using Chapeau_Project_1._4.ViewModel
@model List<RunningOrderWithItemsViewModel>

<h2 class="page-title">Orders</h2>

<div class="view-tabs">
    <form method="get" action="@Url.Action("Index","Kitchen")">
        <input type="hidden" name ="tab" value="RunningOrders" />
        <button class="tab active" >
            <i class="fa fa-list"></i> Running Orders
        </button>
    </form>
    <form method="get" action="@Url.Action("Index","Kitchen")">
        <input type="hidden" name="tab" value="FinishedOrders" />

        <button class="tab">
            <i class="fa fa-clock-o"></i> Finished Today
        </button>
    </form>
    <form method="get" action="@Url.Action("Index","Kitchen")">
        <button class="btn-refresh" name="tab" value="RunningOrders">
            <i class="fa fa-refresh"></i> Refresh
        </button>
    </form>
</div>

<div class="orders-container">
    <partial name="_OrderListPartial" data="Model"></partial>
</div>
