@model Chapeau_Project_1._4.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1> Login</h1>

@{
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }
}

<form asp-controller="Personell" asp-action="GetByLoginCredentials" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" asp-for="Username" class="form-control" required value="@Model?.Username" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" asp-for="Password" class="form-control" required value="@Model?.Password" />


    <button type="submit" class="btn btn-primary">Send</button>

</form>