@model Chapeau_Project_1._4.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="mb-4">Login</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
}

<div class="login-form-wrapper">
    <form asp-controller="Personell" asp-action="GetByLoginCredentials" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" asp-for="Username" class="form-control" required value="@Model?.Username" />
        </div>

        <div class="mb-4">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" asp-for="Password" class="form-control" required value="@Model?.Password" />
        </div>

        <button type="submit" class="btn btn-dark px-4">Login</button>
    </form>
</div>
