

@{
    ViewData["Title"] = "Select Table";
}

<h4>Select a table (1 - 10)</h4>

<form action="/OrderOverview/GetTable" method="Post">
    <label for="Table">Table:</label>
    <input type="text" id="Table" name="Table" class="form-control" />

    <button type="submit" class="btn btn-primary">Go to order</button>

</form>