@{
	ViewData["Title"] = "Split bill";
}

<h4>Split bill</h4>

<form action="/Payment/SplitAmount" method="Post">
	<label for="SplitAmount">Between how many people does the bill need to split?</label>
	<input type="number" id="SplitAmount" name="payments" class="form-control"/>

	<!--extra parameter table-->
	<input type="hidden" name="table" value="table" />

	<button type="submit" class="btn mt-2 btn-primary">Go to payment</button>
</form>

<a href="/RestaurantTable/Overview"> Back to restaurant overview</a>